<div class="container" style="margin-top: 55px; margin-bottom: 20px;">
<div class="row">
    <% @tagphotos.each do |photo| %>
  <div class="col-xs-6 col-md-3">
    <a href="/photos/<%= photo.id %>" class="thumbnail">
        <img src="<%=photo.url%>">
    </a>
  </div>
    <% end %>
</div>
</div>
