<!DOCTYPE html>
<html lang="en">
<head>
	<link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css'>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel='stylesheet' href='/stylesheets/application.css' type='text/css'>

	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/keyboard.js"></script>

	<script src="/js/application.js"></script>

</head>
<body>
	<div class="container">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">ARTiculation</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<% if current_user %>

					  <div class="dropdown">
							<a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">
								 <%= current_user.handle.capitalize %> <i class="caret"></i></a>
								<ul class="dropdown-menu">
								<li><a href="/users/<%= current_user.id %>"></i> Dashboard</a></li>
									<li class="divider divider-overide"></li>
								<li><a href="/photos/<%= current_user.id %>/upload"></i> Upload Expressions</a></li>
									<li class="divider divider-overide"></li>
									<li><a href="#"></i> Account</a></li>
									<li class="divider divider-overide"></li>
									<li><a href="/authentication/logout"></i> Sign-out</a></li>
								</ul>
						</div>

						<% else %>
						<li class="login_button"><a>Login</a></li>
						<li class="signup_button"><a>SignUp</a></li>
						<% end %>

					</ul>
				</div>
			</div>
			</div>
			<%= yield %>
		</div>
	</body>
	</html>
